* {
    box-sizing: border-box;
}
  
.-background {
  background-color: #6f82a8;
background-image: url("../../shared/assets/fondoLogin.png");
position: fixed;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;

}

.-form {
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}

.-h1 {
  color: #6f82a8;
  margin-bottom: 15px;
  font-weight: bold;
}

.-form input[type="text"][name="password"] {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #f2f2f2;
  font-size: 16px;
}

.-form input[type="text"][name="normalText"] {
  width: 100%;
  padding: 18px;
  margin: 2px 0;
  border: 2px solid #f7c1be;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
}


.-form input[type="password"] {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #f2f2f2;
  font-size: 16px;
}

.-form .password-container {
  width: 100%;
  padding: 18px;
  margin: 2px 0;
  border: 2px solid #f7c1be;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
}

.-form input[type="submit"] {
  width: 50%;
  padding: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  background-color: #6f82a8;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.-form input[type="submit"]:hover {
  background-color: #667491;
}
  
.-form input[type="submit"] {
  width: 50%;
  padding: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  background-color: #6f82a8;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.-form input[type="submit"]:hover {
  background-color: #667491;
}

.-form p {
  font-size: 14px;
  margin-top: 20px;
}

.-details .logo-image {
  height: 110px;
  width: auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.-form p {
    font-size: 10px;
    margin-top: 20px;
}

.-h3 {
    color: #6F82A8;
    margin-bottom: 0px;
    font-size: small;
    font-weight: bold;
    text-align: left;
   
}

.-button{
  width: 90%;
  height: 78px;
  padding: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  background-color: #6F82A8;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.-button:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #667491;
  transition: all 0.2s ease;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
}

.password-input {
  padding-right: 2.5rem;
}

.-form span{

  font-size: smaller;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

.errorMessage {
  color:red;
}